<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/estilos.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="section-index">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <form action="/iniciarsesion"method= POST">
        </FORm>
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>

       


        <img src="https://electronicssoftware.net/wp-content/uploads/user.png" alt="img">
        <h3 class="Profesion">Profesion</h3>
        <h1 class="name">Nombre</h1>
        <p class="rol">Rol</p>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <img class="img-card"
                    src="https://www.pinclipart.com/picdir/middle/64-648893_alcance-del-proyecto-png-clipart.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="img-card"
                    src="https://img2.freepng.es/20181206/ugb/kisspng-project-management-clip-art-vector-graphics-gtac-web-agency-5c08d2a50ace28.8391626015440820850443.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="img-card"
                    src="https://img2.freepng.es/20180611/fra/kisspng-project-manager-software-project-management-project-management-software-5b1e20488c5ff2.726675261528701000575.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <img class="img-caroucel"
            src="https://www.wrike.com/blog/content/uploads/2016/04/collaborative-project-management-820x490.jpg"
            class="d-block w-100" alt="...">

    </div>
</body>

</html>